{% extends 'layout.html' %}

{% block title %}
    Adicionar Filmes
{% endblock %}

{% block barra_navegacao %}
    <a href="{{url_for('meusfilmes')}}">Início</a>
    <a href="{{url_for('logout')}}">logout</a>
{% endblock %}

{% block conteudo %}
    <main id="add-filme">
        <h1>Adicionar filme</h1>
        <form action="{{url_for('addfilme')}}" method="POST" id="filme-form">
                <div id="nomefilme">
                    <label for="adicionar-nome-filme">Nome do filme:</label>
                    <input type="text" name="adicionar-nome-filme" id="adicionar-nome-filme" placeholder="Nome do filme" required>
        
                </div>
                <div id="generofilme">
                    <label for="genero-filme">Gênero:</label>
                    <select name="genero" id="genero-filme" required>
                        <option value="" disabled selected>Selecione o Gênero</option>
                        <option value="Ação e Aventura">Ação e Aventura</option>
                        <option value="Romance">Romance</option>
                        <option value="Suspense">Suspense</option>
                        <option value="Terror">Terror</option>
                        <option value="Comédia">Comédia</option>
                        <option value="Drama">Drama</option>
                        <option value="Ficção Científica">Ficção Científica</option>
                        <option value="Documentário">Documentário</option>
                    </select>
                </div>
            <input type="submit" value="Adicionar">
        </form>
    </main>
{% endblock %}
