{% extends 'layout.html' %}

{% block title %}
    Bem vindo
{% endblock %}

{% block barra_navegacao %}
{% endblock %}

{% block conteudo %}
    <main id="index">
        <h1 id="index-title">SEJA BEM-VINDO!</h1>
        <p>Aqui na filmlândia você pode registrar os filmes que você já assistiu e avaliar eles.</p>
        
        <div id="index-acess">
            <a href="{{url_for('login')}}">LOGIN</a>
            <span>Ainda não possui conta?</span>
            <a href="{{url_for('cadastro')}}">CADASTRE-SE</a>
        </div>
    </main>
{% endblock %}
