{% extends 'layout.html' %}

{% block title %}
    Remover Filmes
{% endblock %}

{% block barra_navegacao %}
    <a href="{{url_for('meusfilmes')}}">filmes</a>

    <a href="{{url_for('addfilme')}}">adicionar filmes</a>

    <a href="{{url_for('logout')}}">logout</a>
{% endblock %}

{% block conteudo %}
    <form action="{{url_for('removefilme')}}" method="POST">
        <h1>Excluir filme</h1>

        <label for="excluir-nome-filme">Nome do filme:</label>
        <input type="text" name="excluir-nome-filme" id="excluir-nome-filme" placeholder="Nome do filme" required>

        <input type="submit" value="Deletar">
    </form>
{% endblock %}
