{% extends 'layout.html' %}

{% block title %}
    Avaliação do filme
{% endblock %}

{% block barra_navegacao %}
    <a href="{{url_for('meusfilmes')}}">Meus Filmes</a>
    <a href="{{url_for('logout')}}">Sair</a>
{% endblock %}

{% block conteudo %}
    <main id="visu-filmes">
    {% if nota is not none%}
        <div id="filme-view">
            <h1>{{filme_nome}}</h1>
            <div id="info-view">
                <ul>
                    {% if nota == 0 %}
                        <li>🤮</li>
                    {% else %}
                        {% for estrela in range(nota)%}
                        <li>⭐</li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <p>{{ filme_genero }}</p>
            </div>
        </div>
        <div id='comentario-view'>
            <h1>Seu comentário:</h1>
            <p>{{ comentario }}</p>
        </div>
    {% else %}
        <div id="nofound">
            <p>{{ comentario }}</p>
            <a href="{{ url_for('avaliarfilme', fil_id = filme_id)}}">Avalie agora!</a>
        </div>
    {% endif %}
    </main>
{% endblock %}
